<h2>{{ "build-details.page-title" | translate }}</h2>

<div class="cx-centered-horiz">
  <mat-card>
    <mat-card-content class="cx-padding-15">
      <div>
        {{
          "build-details.label.branch"
            | translate: { name: $safeNavigationMigration(details?.branch) }
        }}
      </div>
      <div>
        {{
          "build-details.label.build-time"
            | translate
              : {
                  time:
                    $safeNavigationMigration(details?.buildTime) | date: "long"
                }
        }}
      </div>
      <div>
        {{
          "build-details.label.build-host"
            | translate: { name: $safeNavigationMigration(details?.buildHost) }
        }}
      </div>
      <div>
        {{
          "build-details.label.build-version"
            | translate
              : { version: $safeNavigationMigration(details?.buildVersion) }
        }}
      </div>
      <div>
        {{
          "build-details.label.commit-time"
            | translate
              : {
                  time:
                    $safeNavigationMigration(details?.commitTime) | date: "long"
                }
        }}
      </div>
      <div>
        {{
          "build-details.label.dirty"
            | translate: { name: $safeNavigationMigration(details?.dirty) }
        }}
      </div>
      <div>
        {{
          "build-details.label.remote-origin-url"
            | translate
              : { url: $safeNavigationMigration(details?.remoteOriginURL) }
        }}
      </div>
      <div>
        {{
          "build-details.label.jdbc-url"
            | translate: { url: $safeNavigationMigration(details?.jdbcUrl) }
        }}
      </div>
      <div>
        {{
          "build-details.label.java-runtime"
            | translate
              : {
                  version: $safeNavigationMigration(details?.javaVersion),
                  vendor: $safeNavigationMigration(details?.javaVendor),
                  osName: $safeNavigationMigration(details?.osName),
                  osArch: $safeNavigationMigration(details?.osArch),
                  osVersion: $safeNavigationMigration(details?.osVersion)
                }
        }}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-icon-button
        [matTooltip]="'build-details.tooltip.copy-to-clipboard' | translate"
        (click)="copyToClipboard()"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
