/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('/images/login-page-banner.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.cx-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cx-width-100 {
  width: 100%;
}

.cx-padding-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.cx-border-1 {
  border-width: 1px;
  border-color: #000;
}

/* container types */

.cx-detail-container {
}
