@use "@angular/material" as mat;
@use "sass:map";

@include mat.core();

$dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: mat.define-palette(mat.$gray-palette),
        accent: mat.define-palette(mat.$blue-gray-palette),
      ),
      density: 0,
    )
);

$light-theme: mat.define-light-theme(
    (
      color: (
        primary: mat.define-palette(mat.$blue-palette),
        accent: mat.define-palette(mat.$cyan-palette),
      ),
      density: -2,
    )
);

@include mat.all-component-themes($dark-theme);

:root[theme='light'] {
  @include mat.all-component-themes($light-theme);
}
